.navbar-default {
  background-color: #1a77b4;
  border-color: #e7e7e7;
  border-color: #e7e7e7;
  
}

.navbar-default .navbar-nav>li>a {
  color: #e7e7e7;
}

.logout btn{

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
}